In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("creditcard.csv")

In [3]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
#data.describe()

In [5]:
#data.Amount.plot()

In [6]:
#data[data.Amount>5000]

In [7]:
# We transform the ammount column, which is the only colum that has its original values
amount = data.values[:,29]

# We have to deal with outliers first. There are a few very big transactions which surpass
# $50000. Leaving them unchanged will make our regular amounts very close to 0 (and the point of roundoff) 
# when we transform the values into interval from 0 to 1. 
# We decide that all transactions bigger than 5000 will be capped at that number. 
# 5000 is big enough number to insure that only a 50 or so transactions in this 200 000 row
# data set are over it. Because or this and relyng on our common sense, 
# we suspect that the odds that $5000 transaction is fake are very similar to the odds 
# $50000 transaction being fake. 

amount = amount.clip(0,5000)

amount = amount.reshape(-1,1)
amount_min_max_scaler = preprocessing.MinMaxScaler()
scalled_amount = amount_min_max_scaler.fit_transform(amount)

# Our ammount column is now scaled
# We remove the original unscaled column and add our new column, rearranging the columns so the  
# "Class" column is last again

amount_col = pd.DataFrame({'Amount_sc':scalled_amount[:,0]})
data=data.join(amount_col)
data = data.drop(columns=['Amount'])

titles = ["Time", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10", "V11", "V12", "V13", "V14", "V15", "V16", "V17", "V18", "V19", "V20", "V21", "V22", "V23", "V24", "V25", "V26", "V27", "V28", "Amount_sc", "Class"]
data = data.reindex(columns=titles)

In [8]:
#data.head()

In [9]:
#data.Amount_sc.plot()

In [10]:
#data.head()

In [11]:
#data.Time.plot()

In [12]:
#data[data.Class==1].Time.plot()

In [13]:
#data.Time.diff().plot()

In [14]:
#data[data.Class==1].Time.diff().plot()

In [15]:
#data.describe()

In [16]:
data.Time = data.Time.mod(86400)

time = data.values[:,0]
time = time.reshape(-1,1)
time_min_max_scaler = preprocessing.MinMaxScaler()
scalled_time = time_min_max_scaler.fit_transform(time)

# Our time column is now scaled
# We remove the original unscaled column and add our new column, rearranging the columns so the  
# "Class" column is last again

time_col = pd.DataFrame({'Time_sc':scalled_time[:,0]})
data=data.join(time_col)
data = data.drop(columns=['Time'])

titles = ["Time_sc", "V1", "V2", "V3", "V4", "V5", "V6", "V7", "V8", "V9", "V10", "V11", "V12", "V13", "V14", "V15", "V16", "V17", "V18", "V19", "V20", "V21", "V22", "V23", "V24", "V25", "V26", "V27", "V28", "Amount_sc", "Class"]
data = data.reindex(columns=titles)

In [17]:
#data.head()

In [18]:
#data.describe()

In [19]:
#data.Time_sc.plot()

In [20]:
q1 = (data.Class==1)
q2 = (data.Class==0)

In [21]:
#data[q1]

In [22]:
# 25% to the test set
trainClass1, testClass1 = train_test_split(data[q1])

In [23]:
#testClass1
#trainClass1

In [24]:
# 25% to the test set
trainClass0, testClass0 = train_test_split(data[q2])

In [25]:
#trainClass0
#testClass0

In [26]:
trainSet = pd.concat([trainClass0, trainClass1])
testSet = pd.concat([testClass0, testClass1])

In [27]:
#testSet

In [28]:
#testSet[testSet.Class==1]

trainSet.to_csv("train.csv", header=True, index=False)
testSet.to_csv("test.csv", header=True, index=False)